@media (max-width: 1439px) {}

@media (max-width: 1200px) {

    // 1 
    .welcome {
        &_wrapper {
            flex-direction: column;
        }

        &_left {
            display: none;
        }

        &_right {
            padding: 30px 30px 0 30px;
        }

        &-mobile-header {
            display: block;
            padding: 10px 16px;
            border-bottom: 2px solid #F8F6F6;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-icon-hamburger {
            display: block;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 12C2 11.4477 2.44772 11 3 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H3C2.44772 13 2 12.5523 2 12Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 18C2 17.4477 2.44772 17 3 17H21C21.5523 17 22 17.4477 22 18C22 18.5523 21.5523 19 21 19H3C2.44772 19 2 18.5523 2 18Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
        }

        &-icon-logo {
            display: block;
            width: 120px;
            height: 32px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-image: url("data:image/svg+xml,%3Csvg width='120' height='32' viewBox='0 0 120 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.3557 3.36841C41.0924 3.36841 37.7381 5.8118 37.7381 9.7275C37.7381 13.7058 40.4341 15.2721 44.9795 16.2745L45.2617 16.3372C48.1457 16.9637 49.7758 17.5902 49.7758 19.5011C49.7758 21.13 48.5219 22.5397 45.8573 22.5397C42.5344 22.5397 40.9983 20.7228 40.9983 18.0288V17.4649H36.9231V18.1541C36.9231 23.2915 40.3714 26.1734 45.7319 26.1734C50.4027 26.1734 53.851 23.6987 53.851 19.2818C53.851 15.3035 51.1864 13.7058 46.6723 12.7034L46.3902 12.6408C43.757 12.0456 41.8134 11.6697 41.8134 9.6022C41.8134 8.09857 43.1613 7.00218 45.3557 7.00218C47.8635 7.00218 49.4623 8.09857 49.4623 10.6046V11.2625H53.4748V10.3227C53.4748 5.93711 50.0579 3.36841 45.3557 3.36841Z' fill='%231B1B1B'/%3E%3Cpath d='M56.0929 32H60.0427V23.5421H60.4189C61.234 24.8578 62.6133 26.1734 65.3719 26.1734C69.2591 26.1734 72.5193 22.7276 72.5193 17.9661C72.5193 13.2046 69.2591 9.75883 65.3719 9.75883C62.6133 9.75883 61.234 11.0745 60.4189 12.3902H59.98V10.1974H56.0929V32ZM64.3061 22.665C61.8609 22.665 60.0427 20.9107 60.0427 17.9661C60.0427 15.0215 61.8609 13.2673 64.3061 13.2673C66.6885 13.2673 68.5694 14.9589 68.5694 17.9661C68.5694 20.9734 66.6885 22.665 64.3061 22.665Z' fill='%231B1B1B'/%3E%3Cpath d='M73.5364 17.9661C73.5364 22.8529 77.11 26.1734 81.6868 26.1734C86.2637 26.1734 89.8373 22.8529 89.8373 17.9661C89.8373 13.0793 86.2637 9.75883 81.6868 9.75883C77.11 9.75883 73.5364 13.0793 73.5364 17.9661ZM77.4862 17.9661C77.4862 15.1468 79.179 13.2673 81.6868 13.2673C84.1947 13.2673 85.8875 15.1468 85.8875 17.9661C85.8875 20.7854 84.1947 22.665 81.6868 22.665C79.179 22.665 77.4862 20.7854 77.4862 17.9661Z' fill='%231B1B1B'/%3E%3Cpath d='M90.1591 10.1974V13.5805H94.109V22.7276C94.109 24.4818 95.4256 25.7349 97.1811 25.7349H101.444V22.3517H98.9366C98.3723 22.3517 98.0588 22.0385 98.0588 21.4119V13.5805H102.322V10.1974H98.0588V5.37325H94.109V10.1974H90.1591Z' fill='%231B1B1B'/%3E%3Cpath d='M115.737 10.1974L111.661 21.3493H111.285L107.21 10.1974H102.947L109.404 26.7373L107.21 32H111.473L120 10.1974H115.737Z' fill='%231B1B1B'/%3E%3Cpath opacity='0.98' d='M12.248 0H12.0938C5.41196 0 0 4.98595 0 12.7763C0 22.3107 7.6493 29.4721 10.7786 32C10.7786 31.602 10.7786 31.2009 10.7786 30.8029C10.709 27.8618 10.703 26.9351 10.0862 25.7774C9.46941 24.6198 6.69994 21.8276 6.62436 17.5739C6.54877 13.3202 8.74076 4.66084 8.74076 4.66084H9.07032L9.95921 15.4349H10.9207L11.9124 4.66388H12.4233L13.418 15.4379H14.3795L15.2684 4.66388H15.6161C15.6161 4.66388 17.805 13.3232 17.7325 17.5769C17.6599 21.8306 14.8783 24.6107 14.2646 25.7774C13.6508 26.9442 13.6418 27.8618 13.5722 30.8029C13.5722 31.2009 13.5722 31.602 13.5722 32C16.6864 29.4721 24.3357 22.3107 24.3357 12.7763C24.3357 4.98595 18.9237 0 12.248 0Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
        }

        &-icon-user {
            display: block;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.46447 15.4645C5.40215 14.5268 6.67392 14 8 14H16C17.3261 14 18.5979 14.5268 19.5355 15.4645C20.4732 16.4021 21 17.6739 21 19V21C21 21.5523 20.5523 22 20 22C19.4477 22 19 21.5523 19 21V19C19 18.2044 18.6839 17.4413 18.1213 16.8787C17.5587 16.3161 16.7956 16 16 16H8C7.20435 16 6.44129 16.3161 5.87868 16.8787C5.31607 17.4413 5 18.2044 5 19V21C5 21.5523 4.55228 22 4 22C3.44772 22 3 21.5523 3 21V19C3 17.6739 3.52678 16.4021 4.46447 15.4645Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 4C10.3431 4 9 5.34315 9 7C9 8.65685 10.3431 10 12 10C13.6569 10 15 8.65685 15 7C15 5.34315 13.6569 4 12 4ZM7 7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7C17 9.76142 14.7614 12 12 12C9.23858 12 7 9.76142 7 7Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
        }
    }
}


@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 480px) {}