.container {
    &_wrapper {
        display: flex;
    }
}

.left {
    &_info {
        padding-bottom: 0;
        width: 504px;
    }
}

.mobile {
    &-header {
        display: none;
    }

    &-city {
        margin: 6px 0 22px 16px;
        font-family: 'Barlow Condensed';
        font-weight: 600;
        font-size: 32px;
        color: $title-color;
        display: none;
    }
}

.header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_spoty-icon {
        &-home {
            width: 24px;
            height: 24px;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.3861 1.21065C11.7472 0.929784 12.2528 0.929784 12.6139 1.21065L21.6139 8.21065C21.8575 8.4001 22 8.69141 22 9V20C22 20.7957 21.6839 21.5587 21.1213 22.1213C20.5587 22.6839 19.7957 23 19 23H5C4.20435 23 3.44129 22.6839 2.87868 22.1213C2.31607 21.5587 2 20.7957 2 20V9C2 8.69141 2.14247 8.4001 2.38606 8.21065L11.3861 1.21065ZM4 9.48908V20C4 20.2652 4.10536 20.5196 4.29289 20.7071C4.48043 20.8946 4.73478 21 5 21H19C19.2652 21 19.5196 20.8946 19.7071 20.7071C19.8946 20.5196 20 20.2652 20 20V9.48908L12 3.26686L4 9.48908Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 12C8 11.4477 8.44772 11 9 11H15C15.5523 11 16 11.4477 16 12V22C16 22.5523 15.5523 23 15 23C14.4477 23 14 22.5523 14 22V13H10V22C10 22.5523 9.55228 23 9 23C8.44772 23 8 22.5523 8 22V12Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
        }

        &-hamburger {
            width: 24px;
            height: 24px;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 12C2 11.4477 2.44772 11 3 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H3C2.44772 13 2 12.5523 2 12Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 18C2 17.4477 2.44772 17 3 17H21C21.5523 17 22 17.4477 22 18C22 18.5523 21.5523 19 21 19H3C2.44772 19 2 18.5523 2 18Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
        }

        &-logo {
            width: 89px;
            height: 24px;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='89' height='24' viewBox='0 0 89 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.6387 2.52632C30.4767 2.52632 27.989 4.35887 27.989 7.29564C27.989 10.2794 29.9885 11.4541 33.3597 12.2059L33.569 12.2529C35.7079 12.7228 36.9169 13.1927 36.9169 14.6258C36.9169 15.8475 35.9869 16.9048 34.0107 16.9048C31.5462 16.9048 30.407 15.5421 30.407 13.5216V13.0987H27.3845V13.6156C27.3845 17.4686 29.942 19.6301 33.9177 19.6301C37.3819 19.6301 39.9394 17.774 39.9394 14.4614C39.9394 11.4776 37.9632 10.2794 34.6152 9.52759L34.406 9.4806C32.453 9.03421 31.0115 8.75228 31.0115 7.20166C31.0115 6.07394 32.0112 5.25165 33.6387 5.25165C35.4987 5.25165 36.6844 6.07394 36.6844 7.95348V8.44686H39.6604V7.74203C39.6604 4.45284 37.1262 2.52632 33.6387 2.52632Z' fill='%231B1B1B'/%3E%3Cpath d='M41.6021 24H44.5316V17.6566H44.8106C45.4151 18.6433 46.4381 19.6301 48.4841 19.6301C51.367 19.6301 53.785 17.0457 53.785 13.4746C53.785 9.9035 51.367 7.31913 48.4841 7.31913C46.4381 7.31913 45.4151 8.30589 44.8106 9.29265H44.4851V7.64805H41.6021V24ZM47.6936 16.9987C45.8801 16.9987 44.5316 15.6831 44.5316 13.4746C44.5316 11.2662 45.8801 9.95048 47.6936 9.95048C49.4606 9.95048 50.8555 11.2192 50.8555 13.4746C50.8555 15.7301 49.4606 16.9987 47.6936 16.9987Z' fill='%231B1B1B'/%3E%3Cpath d='M54.5394 13.4746C54.5394 17.1397 57.1898 19.6301 60.5843 19.6301C63.9788 19.6301 66.6293 17.1397 66.6293 13.4746C66.6293 9.80952 63.9788 7.31913 60.5843 7.31913C57.1898 7.31913 54.5394 9.80952 54.5394 13.4746ZM57.4688 13.4746C57.4688 11.3601 58.7243 9.95048 60.5843 9.95048C62.4443 9.95048 63.6998 11.3601 63.6998 13.4746C63.6998 15.5891 62.4443 16.9987 60.5843 16.9987C58.7243 16.9987 57.4688 15.5891 57.4688 13.4746Z' fill='%231B1B1B'/%3E%3Cpath d='M66.8679 7.64805V10.1854H69.7974V17.0457C69.7974 18.3614 70.7739 19.3012 72.0759 19.3012H75.2379V16.7638H73.3779C72.9594 16.7638 72.7269 16.5289 72.7269 16.059V10.1854H75.8888V7.64805H72.7269V4.02995H69.7974V7.64805H66.8679Z' fill='%231B1B1B'/%3E%3Cpath d='M85.8379 7.64805L82.8155 16.012H82.5365L79.514 7.64805H76.352L81.1415 20.053L79.514 24H82.676L88.9999 7.64805H85.8379Z' fill='%231B1B1B'/%3E%3Cpath opacity='0.98' d='M9.0839 0H8.96954C4.01387 0 0 3.73946 0 9.58223C0 16.733 5.67323 22.1041 7.9941 24C7.9941 23.7015 7.9941 23.4007 7.9941 23.1022C7.94253 20.8963 7.93804 20.2013 7.48059 19.3331C7.02315 18.4649 4.96912 16.3707 4.91306 13.1804C4.857 9.99013 6.48273 3.49563 6.48273 3.49563H6.72715L7.38641 11.5761H8.09949L8.835 3.49791H9.21396L9.9517 11.5784H10.6648L11.324 3.49791H11.5819C11.5819 3.49791 13.2054 9.9924 13.1516 13.1827C13.0978 16.373 11.0348 18.458 10.5796 19.3331C10.1244 20.2081 10.1176 20.8963 10.0661 23.1022C10.0661 23.4007 10.0661 23.7015 10.0661 24C12.3757 22.1041 18.049 16.733 18.049 9.58223C18.049 3.73946 14.0351 0 9.0839 0Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
        }

        &-user {
            width: 24px;
            height: 24px;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.46447 15.4645C5.40215 14.5268 6.67392 14 8 14H16C17.3261 14 18.5979 14.5268 19.5355 15.4645C20.4732 16.4021 21 17.6739 21 19V21C21 21.5523 20.5523 22 20 22C19.4477 22 19 21.5523 19 21V19C19 18.2044 18.6839 17.4413 18.1213 16.8787C17.5587 16.3161 16.7956 16 16 16H8C7.20435 16 6.44129 16.3161 5.87868 16.8787C5.31607 17.4413 5 18.2044 5 19V21C5 21.5523 4.55228 22 4 22C3.44772 22 3 21.5523 3 21V19C3 17.6739 3.52678 16.4021 4.46447 15.4645Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 4C10.3431 4 9 5.34315 9 7C9 8.65685 10.3431 10 12 10C13.6569 10 15 8.65685 15 7C15 5.34315 13.6569 4 12 4ZM7 7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7C17 9.76142 14.7614 12 12 12C9.23858 12 7 9.76142 7 7Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
        }
    }
}

.left {
    &_title {
        font-family: 'Barlow Condensed';
        padding: 0 24px;
        font-weight: 600;
        font-size: 25px;
        color: $title-color;
    }

    &_offers {
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-icon {
            a {
                display: block;
                width: 24px;
                height: 24px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9131 2.49507C15.702 2.16823 16.5474 2 17.4013 2C18.2551 2 19.1006 2.16823 19.8894 2.49507C20.6781 2.82186 21.3947 3.30081 21.9982 3.90455C22.602 4.5081 23.0813 5.22501 23.408 6.01368C23.7349 6.80249 23.9031 7.64797 23.9031 8.50183C23.9031 9.35568 23.7349 10.2012 23.408 10.99C23.0812 11.7787 22.6022 12.4953 21.9984 13.0989C21.9983 13.099 21.9985 13.0989 21.9984 13.0989L13.1584 21.9389C12.7679 22.3295 12.1347 22.3295 11.7442 21.9389L2.90418 13.0989C1.68496 11.8797 1 10.2261 1 8.50183C1 6.77758 1.68496 5.12395 2.90418 3.90472C4.12341 2.68549 5.77704 2.00053 7.50129 2.00053C9.22554 2.00053 10.8792 2.68549 12.0984 3.90472L12.4513 4.25761L12.804 3.90488C12.8041 3.90483 12.804 3.90494 12.804 3.90488C13.4076 3.30106 14.1244 2.82189 14.9131 2.49507ZM17.4013 4C16.8102 4 16.2248 4.11647 15.6787 4.34274C15.1326 4.56902 14.6365 4.90068 14.2186 5.31877L13.1584 6.37893C12.7679 6.76946 12.1347 6.76946 11.7442 6.37893L10.6842 5.31893C9.84003 4.47478 8.69511 4.00053 7.50129 4.00053C6.30747 4.00053 5.16255 4.47478 4.3184 5.31893C3.47424 6.16309 3 7.30801 3 8.50183C3 9.69564 3.47424 10.8406 4.3184 11.6847L12.4513 19.8176L20.5842 11.6847C21.0023 11.2668 21.3341 10.7705 21.5604 10.2244C21.7866 9.67828 21.9031 9.09295 21.9031 8.50183C21.9031 7.9107 21.7866 7.32537 21.5604 6.77926C21.3341 6.23316 21.0024 5.73699 20.5843 5.3191C20.1665 4.90101 19.67 4.56902 19.1239 4.34274C18.5778 4.11647 17.9924 4 17.4013 4Z' fill='%23FF5722'/%3E%3C/svg%3E");
            }
        }
    }

    &_subheader {
        font-family: 'Barlow';
        font-weight: 600;
        font-size: 16px;
        color: $text-color;
    }
}

.city {
    position: relative;

    &-img {
        a {
            display: block;
            width: 24px;
            height: 24px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C9.87827 2 7.84344 2.84285 6.34315 4.34315C4.84285 5.84344 4 7.87827 4 10C4 13.0981 6.01574 16.1042 8.22595 18.4373C9.31061 19.5822 10.3987 20.5195 11.2167 21.1708C11.5211 21.4133 11.787 21.6152 12 21.7726C12.213 21.6152 12.4789 21.4133 12.7833 21.1708C13.6013 20.5195 14.6894 19.5822 15.774 18.4373C17.9843 16.1042 20 13.0981 20 10C20 7.87827 19.1571 5.84344 17.6569 4.34315C16.1566 2.84285 14.1217 2 12 2ZM12 23C11.4453 23.8321 11.445 23.8319 11.4448 23.8317L11.4419 23.8298L11.4352 23.8253L11.4123 23.8098C11.3928 23.7966 11.3651 23.7776 11.3296 23.753C11.2585 23.7038 11.1565 23.6321 11.0278 23.5392C10.7705 23.3534 10.4064 23.0822 9.97082 22.7354C9.10133 22.043 7.93939 21.0428 6.77405 19.8127C4.48426 17.3958 2 13.9019 2 10C2 7.34784 3.05357 4.8043 4.92893 2.92893C6.8043 1.05357 9.34784 0 12 0C14.6522 0 17.1957 1.05357 19.0711 2.92893C20.9464 4.8043 22 7.34784 22 10C22 13.9019 19.5157 17.3958 17.226 19.8127C16.0606 21.0428 14.8987 22.043 14.0292 22.7354C13.5936 23.0822 13.2295 23.3534 12.9722 23.5392C12.8435 23.6321 12.7415 23.7038 12.6704 23.753C12.6349 23.7776 12.6072 23.7966 12.5877 23.8098L12.5648 23.8253L12.5581 23.8298L12.556 23.8312C12.5557 23.8314 12.5547 23.8321 12 23ZM12 23L12.5547 23.8321C12.2188 24.056 11.7807 24.0556 11.4448 23.8317L12 23Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 8C10.8954 8 10 8.89543 10 10C10 11.1046 10.8954 12 12 12C13.1046 12 14 11.1046 14 10C14 8.89543 13.1046 8 12 8ZM8 10C8 7.79086 9.79086 6 12 6C14.2091 6 16 7.79086 16 10C16 12.2091 14.2091 14 12 14C9.79086 14 8 12.2091 8 10Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
        }
    }

    &-icon {
        padding: 18px 24px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    &-text {
        font-family: 'Barlow';
        font-weight: 600;
        font-size: 16px;
        color: $text-color;
        padding-top: 2px;
        padding-left: 8px;
    }
}

.menu {
    &_offers {
        margin-top: 8px;
        padding: 0 24px;
    }

    &_offer {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 114px;
        margin-top: 16px;
        border: 2px solid #F8F6F6;
        border-radius: 4px;

        &:hover {
            background: #F8F6F6;
        }

        &-wrapper {
            padding: 8px 16px 16px 16px;
        }

        &-price {
            margin-bottom: 8px;
            font-family: 'Barlow Condensed';
            font-weight: 600;
            font-size: 25px;
            color: $title-color;
        }

        &-details {
            display: none;
        }

        &-name {
            a {
                font-family: 'Barlow';
                font-weight: 600;
                font-size: 16px;
                color: $title-color;
                text-decoration: none;

                &:hover {
                    color: $main-color;
                }
            }
        }

        &-descr {
            margin-top: 8px;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 14px;
            color: $text-color;
        }

        &-img {
            position: relative;
        }

        &-icon {
            img {
                width: 108px;
                height: 110px;
                object-fit: contain;
            }
        }

        &-favorite {
            position: absolute;
            width: 32px;
            height: 32px;
            left: 8px;
            top: 8px;
            background-color: #FFFF;
            border-radius: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.57643 0.309955C10.0816 0.105324 10.623 0 11.1698 0C11.7166 0 12.258 0.105324 12.7631 0.309955C13.2682 0.514548 13.7271 0.814403 14.1136 1.1924C14.5002 1.57027 14.8071 2.0191 15.0164 2.51287C15.2257 3.00673 15.3334 3.53606 15.3334 4.07064C15.3334 4.60521 15.2257 5.13455 15.0164 5.62841C14.8071 6.12222 14.5003 6.57089 14.1137 6.94878C14.1136 6.94881 14.1137 6.94874 14.1137 6.94878L8.45273 12.4833C8.20264 12.7278 7.79718 12.7278 7.54709 12.4833L1.88615 6.94878C1.10538 6.18545 0.666748 5.15015 0.666748 4.07064C0.666748 2.99113 1.10538 1.95583 1.88615 1.1925C2.66691 0.429169 3.72586 0.000334809 4.83004 0.000334809C5.93421 0.000334809 6.99316 0.429169 7.77392 1.1925L7.99991 1.41344L8.22579 1.1926C8.22582 1.19257 8.22575 1.19264 8.22579 1.1926C8.61231 0.814563 9.07133 0.514567 9.57643 0.309955ZM11.1698 1.25215C10.7912 1.25215 10.4164 1.32507 10.0667 1.46674C9.71698 1.6084 9.39924 1.81605 9.13163 2.0778L8.45273 2.74155C8.20264 2.98604 7.79718 2.98604 7.54709 2.74155L6.86829 2.07791C6.32771 1.5494 5.59453 1.25249 4.83004 1.25249C4.06554 1.25249 3.33236 1.5494 2.79178 2.07791C2.2512 2.60641 1.94751 3.32322 1.94751 4.07064C1.94751 4.81806 2.2512 5.53487 2.79178 6.06337L7.99991 11.1552L13.208 6.06337C13.4758 5.80174 13.6883 5.491 13.8332 5.1491C13.9781 4.80719 14.0527 4.44073 14.0527 4.07064C14.0527 3.70055 13.9781 3.33409 13.8332 2.99218C13.6883 2.65028 13.4759 2.33964 13.2081 2.07801C12.9405 1.81625 12.6226 1.6084 12.2729 1.46674C11.9232 1.32507 11.5483 1.25215 11.1698 1.25215Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");

            &:hover,
            &.in-favourites {
                background-color: $main-color;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2857_3028' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2857_3028)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.57667 2.30995C10.0818 2.10532 10.6232 2 11.17 2C11.7168 2 12.2582 2.10532 12.7634 2.30995C13.2684 2.51455 13.7273 2.8144 14.1138 3.1924C14.5004 3.57027 14.8074 4.0191 15.0166 4.51287C15.2259 5.00673 15.3337 5.53606 15.3337 6.07064C15.3337 6.60521 15.2259 7.13455 15.0166 7.62841C14.8073 8.12222 14.5006 8.57089 14.1139 8.94878C14.1139 8.94881 14.114 8.94874 14.1139 8.94878L8.45297 14.4833C8.20289 14.7278 7.79742 14.7278 7.54734 14.4833L1.88639 8.94878C1.10562 8.18545 0.666992 7.15015 0.666992 6.07064C0.666992 4.99113 1.10562 3.95583 1.88639 3.1925C2.66716 2.42917 3.72611 2.00033 4.83028 2.00033C5.93445 2.00033 6.9934 2.42917 7.77417 3.1925L8.00015 3.41344L8.22603 3.1926C8.22607 3.19257 8.226 3.19264 8.22603 3.1926C8.61256 2.81456 9.07158 2.51457 9.57667 2.30995ZM11.17 3.25215C10.7915 3.25215 10.4166 3.32507 10.0669 3.46674C9.71722 3.6084 9.39949 3.81605 9.13188 4.0778L8.45297 4.74155C8.20289 4.98604 7.79742 4.98604 7.54734 4.74155L6.86854 4.07791C6.32796 3.5494 5.59477 3.25249 4.83028 3.25249C4.06579 3.25249 3.3326 3.5494 2.79202 4.07791C2.25144 4.60641 1.94775 5.32322 1.94775 6.07064C1.94775 6.81806 2.25144 7.53487 2.79202 8.06337L8.00015 13.1552L13.2083 8.06337C13.476 7.80174 13.6885 7.491 13.8334 7.1491C13.9783 6.80719 14.0529 6.44073 14.0529 6.07064C14.0529 5.70055 13.9783 5.33409 13.8334 4.99218C13.6885 4.65028 13.4761 4.33964 13.2084 4.07801C12.9408 3.81625 12.6228 3.6084 12.2731 3.46674C11.9234 3.32507 11.5486 3.25215 11.17 3.25215Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
        }
    }
}

.right_map {
    flex: 1;

    iframe {
        height: 100vh;
        width: 100%;
        border: 0;
        display: block;
    }
}