.setting-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &-img {
        width: 130px;
        height: 130px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='148' height='148' viewBox='0 0 148 148' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1069_7506)'%3E%3Cpath d='M53.9614 19.6919L35.2668 132.287L38.5737 132.838C56.8657 135.886 75.7886 134.128 93.2937 127.757C110.8 121.385 126.425 110.568 138.479 96.4752L140.658 93.9277L53.9614 19.6919ZM89.1449 58.6517L99.8424 67.813C99.098 68.646 98.1428 69.3102 97.0199 69.7189C93.3691 71.0477 89.3174 69.1583 87.9886 65.5076C87.1109 63.096 87.6373 60.5123 89.1449 58.6517V58.6517ZM61.7935 52.9031C63.1226 56.5547 61.2329 60.6056 57.5838 61.9338C56.296 62.4025 54.9567 62.4707 53.7062 62.2004L56.0111 48.3188C58.5623 48.6302 60.8564 50.3283 61.7935 52.9031ZM52.6051 68.8233C54.9626 69.2771 57.4659 69.1185 59.8792 68.2401C67.0075 65.6456 70.6944 57.7361 68.0999 50.6078C66.3057 45.6783 61.9708 42.3953 57.1094 41.696L58.6331 32.5272L84.0477 54.2876C81.0195 57.9295 79.9501 63.0413 81.6831 67.8026C84.2773 74.9301 92.1877 78.6195 99.3152 76.0253C101.563 75.2072 103.468 73.8612 104.942 72.1773L114.023 79.9566C105.723 89.2353 95.2324 96.3429 83.4243 100.641C71.6171 104.938 59.0124 106.236 46.6894 104.463L52.6051 68.8233ZM90.9984 121.45C75.6328 127.043 59.1076 128.847 42.9935 126.714L45.5875 111.086L45.5877 111.084C59.0511 113.046 72.8233 111.641 85.7196 106.947C98.6168 102.253 110.071 94.4761 119.123 84.3198L119.124 84.3211L131.156 94.625C120.183 106.617 106.365 115.857 90.9984 121.45V121.45Z' fill='%23B6A39E'/%3E%3Cpath d='M73.8381 99.6069C80.9665 97.0124 84.6525 89.1032 82.058 81.9748C79.4638 74.8473 71.5559 71.1571 64.4276 73.7516C57.3 76.3458 53.6118 84.2567 56.206 91.3842C58.8005 98.5125 66.7106 102.201 73.8381 99.6069V99.6069ZM66.7229 80.0579C70.372 78.7298 74.4234 80.6183 75.7525 84.2699C77.0813 87.9206 75.1919 91.9724 71.5428 93.3005C67.8921 94.6293 63.8403 92.7399 62.5115 89.0892C61.1825 85.4376 63.0721 81.3867 66.7229 80.0579Z' fill='%23B6A39E'/%3E%3Cpath d='M87.8499 84.7454L94.1554 82.4503L96.4507 88.7567L90.1452 91.0517L87.8499 84.7454Z' fill='%23B6A39E'/%3E%3Cpath d='M69.6401 62.7688L75.9465 60.4735L78.2418 66.7798L71.9355 69.0752L69.6401 62.7688Z' fill='%23B6A39E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1069_7506'%3E%3Crect width='115' height='115' fill='white' transform='translate(0 39.3323) rotate(-20)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &-descr {
        a {
            margin-top: 12px;
            font-family: 'Barlow Condensed';
            font-weight: 600;
            font-size: 25px;
            text-align: center;
            color: $title-color;
            text-decoration: none;
        }
    }
}