.sign_up-left {
    .end-of-create {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-wrapper {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &-text {
            font-family: 'Barlow Condensed';
            font-weight: 600;
            font-size: 25px;
            line-height: 120%;
            text-align: center;
            color: $title-color;    
            margin-top: 32px;        
        }

        .view-on-map-link {
            margin-top: 20px;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: $main-color;
        }

        &-button {
            margin-top: 164px;
            text-align: center;
            button {
                background: $main-color;
                border: 2px solid $main-color;
                border-radius: 4px;
                padding: 8px 70px;

                font-family: 'Barlow';
                font-weight: 600;
                font-size: 16px;
                text-align: center;
                color: #FFFFFF;
                cursor: pointer;
            }
        } 
    }

    .open-icon {
        width: 141px;
        height: 144px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg width='141' height='144' viewBox='0 0 141 144' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1866_574)'%3E%3Cpath d='M110.9 52.6926L83.1486 29.8268C83.5649 28.5128 83.7876 27.1154 83.7876 25.6641C83.7876 18.1824 77.828 12.0938 70.5 12.0938C63.1742 12.0938 57.2124 18.1824 57.2124 25.6641C57.2124 27.323 57.5072 28.9149 58.0418 30.386L30.1391 52.6926H0V132.095H141V52.6926H110.9ZM70.3677 20.5345C70.4118 20.5312 70.4559 20.5312 70.5 20.5312C71.1196 20.5312 71.7145 20.6466 72.2653 20.8608C73.2786 21.2487 74.1382 21.9628 74.7191 22.8801C75.229 23.681 75.5259 24.6379 75.5259 25.6641C75.5259 28.2766 73.6014 30.442 71.1229 30.7573C71.0701 30.7628 71.0153 30.7716 70.9604 30.7749C70.8087 30.7881 70.6538 30.7969 70.5 30.7969C67.73 30.7969 65.4741 28.493 65.4741 25.6641C65.4741 25.1917 65.5376 24.7335 65.6559 24.2996C66.2314 22.1704 68.1183 20.5928 70.3677 20.5345ZM63.1882 36.9899C65.2869 38.4071 67.801 39.2344 70.5 39.2344C73.4056 39.2344 76.096 38.2786 78.283 36.6581L97.7422 52.6926H43.5418L63.1882 36.9899ZM132.738 123.658H8.26172V61.1301H132.738V123.658Z' fill='%23B6A39E'/%3E%3Cpath d='M22.9211 102.256C24.1162 103.567 25.5513 104.625 27.2284 105.429C28.9054 106.234 30.7719 106.636 32.8298 106.636C34.8371 106.636 36.6852 106.246 38.3763 105.469C40.0641 104.69 41.5185 103.657 42.7384 102.372C43.9583 101.09 44.9104 99.611 45.5967 97.9366C46.2819 96.2634 46.6262 94.5166 46.6262 92.7028C46.6262 90.9362 46.3013 89.2124 45.6548 87.5249C45.005 85.8407 44.0842 84.3334 42.889 83.0106C41.6971 81.6868 40.2621 80.6233 38.585 79.8191C36.9079 79.0149 35.0404 78.6128 32.9814 78.6128C30.9762 78.6128 29.126 78.9951 27.437 79.7598C25.746 80.5277 24.2873 81.5516 23.0555 82.837C21.8217 84.1191 20.8643 85.6045 20.1779 87.292C19.4927 88.9795 19.1484 90.7318 19.1484 92.5457C19.1484 94.3375 19.4787 96.0756 20.1392 97.7631C20.8008 99.4473 21.7259 100.947 22.9211 102.256ZM27.0573 89.9584C27.2972 89.0894 27.6716 88.3093 28.1804 87.6238C28.6881 86.9349 29.3293 86.3834 30.106 85.9703C30.8794 85.554 31.7992 85.3452 32.8685 85.3452C33.9087 85.3452 34.8177 85.5485 35.5912 85.9506C36.3679 86.3527 37.0155 86.8844 37.5361 87.5447C38.0568 88.2061 38.4451 88.9707 38.6979 89.8397C38.9518 90.712 39.0809 91.6118 39.0809 92.5457C39.0809 93.4542 38.9594 94.3507 38.7173 95.2318C38.4753 96.114 38.1084 96.8995 37.6125 97.5851C37.1177 98.275 36.4755 98.8309 35.688 99.2594C34.9006 99.689 33.9722 99.9032 32.9061 99.9032C31.8379 99.9032 30.9182 99.6945 30.1447 99.2781C29.368 98.865 28.7258 98.319 28.2191 97.6444C27.7103 96.9698 27.3295 96.1986 27.0767 95.3296C26.8206 94.4606 26.6937 93.5575 26.6937 92.6237C26.6937 91.7162 26.8153 90.8274 27.0573 89.9584Z' fill='%23B6A39E'/%3E%3Cpath d='M57.221 97.9169H61.6402C62.9601 97.9169 64.1746 97.6499 65.2783 97.1182C66.3853 96.5875 67.3244 95.8723 68.0989 94.978C68.8756 94.0837 69.478 93.0598 69.9105 91.9041C70.3429 90.7516 70.5581 89.5618 70.5581 88.3434C70.5581 87.1766 70.3289 86.0143 69.8717 84.8585C69.4146 83.7061 68.7874 82.6788 67.986 81.7845C67.1845 80.8903 66.2261 80.1619 65.1084 79.6049C63.9896 79.0479 62.7697 78.7666 61.4508 78.7666H49.7876V106.403H57.221V97.9169ZM57.221 85.3848H60.9549C61.4121 85.3848 61.8693 85.5924 62.3265 86.0066C62.7837 86.423 63.0117 87.2019 63.0117 88.3434C63.0117 89.4574 62.8138 90.2308 62.4233 90.6582C62.0263 91.0856 61.6025 91.2998 61.1453 91.2998H57.221V85.3848Z' fill='%23B6A39E'/%3E%3Cpath d='M92.812 99.7845H80.9616V95.4252H90.7939V89.2772H80.9616V85.3848H92.471V78.7666H73.5293V106.403H92.812V99.7845Z' fill='%23B6A39E'/%3E%3Cpath d='M103.713 92.8181L114.458 106.403H120.365V78.7666H112.935V92.8181L102.073 78.7666H96.2793V106.403H103.713V92.8181Z' fill='%23B6A39E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1866_574'%3E%3Crect width='141' height='144' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
}