.welcome {
    min-height: 100vh;

    &_wrapper {
        display: flex;
    }

    &-mobile-header {
        display: none;
    }

    &_left {
        height: 100vh;
        width: 252px;
        background: #F8F6F6;

        &-header {
            a {
                display: block;
                position: static;
                margin: 0 auto;
                margin-top: 50px;
            }
        }

        .left-container {
            height: calc(100vh - 100px);
        }

        .navigation-container {
            margin: 0 auto;
            margin-top: 58px;

            a {
                padding: 16px 0;
                display: flex;
                justify-content: start;
                align-items: center;

                font-family: Roboto;
                font-weight: 400;
                font-size: 16px;
                color: $text-color;
                text-decoration: none;
                padding-left: 48px;


                &::before {
                    content: '';
                    width: 24px;
                    height: 24px;
                    margin-right: 15px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                }

                &.dashboard {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1875_50' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23DDD5D2'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1875_50)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 7C16.4477 7 16 6.55228 16 6C16 5.44772 16.4477 5 17 5H23C23.5523 5 24 5.44772 24 6V12C24 12.5523 23.5523 13 23 13C22.4477 13 22 12.5523 22 12V8.41421L14.2071 16.2071C13.8166 16.5976 13.1834 16.5976 12.7929 16.2071L8.5 11.9142L1.70711 18.7071C1.31658 19.0976 0.683417 19.0976 0.292893 18.7071C-0.0976311 18.3166 -0.0976311 17.6834 0.292893 17.2929L7.79289 9.79289C8.18342 9.40237 8.81658 9.40237 9.20711 9.79289L13.5 14.0858L20.5858 7H17Z' fill='%23DDD5D2'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }

                &.menu {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2954_6279' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23FF5722'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2954_6279)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 3C1 2.44772 1.44772 2 2 2H8C9.32608 2 10.5979 2.52678 11.5355 3.46447C11.7038 3.63275 11.8589 3.81178 12 3.99997C12.1411 3.81178 12.2962 3.63275 12.4645 3.46447C13.4021 2.52678 14.6739 2 16 2H22C22.5523 2 23 2.44772 23 3V18C23 18.5523 22.5523 19 22 19H15C14.4696 19 13.9609 19.2107 13.5858 19.5858C13.2107 19.9609 13 20.4696 13 21C13 21.5523 12.5523 22 12 22C11.4477 22 11 21.5523 11 21C11 20.4696 10.7893 19.9609 10.4142 19.5858C10.0391 19.2107 9.53043 19 9 19H2C1.44772 19 1 18.5523 1 18V3ZM11 17.5359C10.3971 17.1878 9.70823 17 9 17H3V4H8C8.79565 4 9.55871 4.31607 10.1213 4.87868C10.6839 5.44129 11 6.20435 11 7V17.5359ZM13 17.5359C13.6029 17.1878 14.2918 17 15 17H21V4H16C15.2044 4 14.4413 4.31607 13.8787 4.87868C13.3161 5.44129 13 6.20435 13 7V17.5359Z' fill='%23DDD5D2'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }

                &.offers {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2954_6270' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23FF5722'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2954_6270)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 2C1 1.44772 1.44772 1 2 1H12C12.2652 1 12.5196 1.10536 12.7071 1.29289L21.2992 9.885C21.858 10.4471 22.1716 11.2074 22.1716 12C22.1716 12.7926 21.858 13.5529 21.2992 14.115L20.59 13.41L21.2971 14.1171L14.1275 21.2867C13.849 21.5655 13.5178 21.787 13.1538 21.9379C12.7896 22.0889 12.3992 22.1666 12.005 22.1666C11.6108 22.1666 11.2204 22.0889 10.8562 21.9379C10.4921 21.787 10.1613 21.5658 9.88271 21.2869L1.29331 12.7075C1.10552 12.5199 1 12.2654 1 12V2ZM19.8808 12.705L19.8817 12.7041C20.0674 12.5168 20.1716 12.2638 20.1716 12C20.1716 11.7362 20.0674 11.4832 19.8817 11.2959L19.8808 11.295L11.5858 3H3V11.5854L11.2967 19.8725L11.2975 19.8733C11.3904 19.9663 11.5007 20.04 11.6221 20.0903C11.7435 20.1407 11.8736 20.1666 12.005 20.1666C12.1364 20.1666 12.2665 20.1407 12.3879 20.0903C12.5093 20.04 12.6196 19.9663 12.7125 19.8733L19.8808 12.705Z' fill='%23DDD5D2'/%3E%3Cpath d='M9 7.5C9 8.32843 8.32843 9 7.5 9C6.67157 9 6 8.32843 6 7.5C6 6.67157 6.67157 6 7.5 6C8.32843 6 9 6.67157 9 7.5Z' fill='%23DDD5D2'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }

                &.bookings {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2954_6261' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23FF5722'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2954_6261)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3ZM1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 5C12.5523 5 13 5.44772 13 6V11.382L16.4472 13.1056C16.9412 13.3526 17.1414 13.9532 16.8944 14.4472C16.6474 14.9412 16.0468 15.1414 15.5528 14.8944L11.5528 12.8944C11.214 12.725 11 12.3788 11 12V6C11 5.44772 11.4477 5 12 5Z' fill='%23DDD5D2'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }

                &.locations {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2954_6252' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23DDD5D2'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2954_6252)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2.83335C10.0904 2.83335 8.25909 3.60597 6.90883 4.98125C5.55857 6.35652 4.8 8.2218 4.8 10.1667C4.8 13.0066 6.61416 15.7623 8.60336 17.9009C9.57955 18.9505 10.5588 19.8097 11.295 20.4068C11.569 20.629 11.8083 20.8141 12 20.9584C12.1917 20.8141 12.431 20.629 12.705 20.4068C13.4412 19.8097 14.4204 18.9505 15.3966 17.9009C17.3858 15.7623 19.2 13.0066 19.2 10.1667C19.2 8.2218 18.4414 6.35652 17.0912 4.98125C15.7409 3.60597 13.9096 2.83335 12 2.83335ZM12 22.0835C11.5008 22.8462 11.5005 22.8461 11.5003 22.8459L11.4977 22.8441L11.4917 22.84L11.4711 22.8258C11.4536 22.8137 11.4286 22.7963 11.3966 22.7737C11.3327 22.7286 11.2408 22.6629 11.125 22.5778C10.8935 22.4075 10.5657 22.1589 10.1737 21.8409C9.3912 21.2063 8.34545 20.2894 7.29664 19.1618C5.23584 16.9462 3 13.7435 3 10.1667C3 7.73557 3.94821 5.40397 5.63604 3.68487C7.32387 1.96578 9.61305 1 12 1C14.3869 1 16.6761 1.96578 18.364 3.68487C20.0518 5.40397 21 7.73557 21 10.1667C21 13.7435 18.7642 16.9462 16.7034 19.1618C15.6546 20.2894 14.6088 21.2063 13.8263 21.8409C13.4343 22.1589 13.1065 22.4075 12.875 22.5778C12.7592 22.6629 12.6673 22.7286 12.6034 22.7737C12.5714 22.7963 12.5464 22.8137 12.5289 22.8258L12.5083 22.84L12.5023 22.8441L12.5004 22.8454C12.5001 22.8456 12.4992 22.8462 12 22.0835ZM12 22.0835L12.4992 22.8462C12.1969 23.0515 11.8026 23.0512 11.5003 22.8459L12 22.0835ZM12 8.33339C11.0059 8.33339 10.2 9.15421 10.2 10.1667C10.2 11.1793 11.0059 12.0001 12 12.0001C12.9941 12.0001 13.8 11.1793 13.8 10.1667C13.8 9.15421 12.9941 8.33339 12 8.33339ZM8.4 10.1667C8.4 8.14168 10.0118 6.50004 12 6.50004C13.9882 6.50004 15.6 8.14168 15.6 10.1667C15.6 12.1918 13.9882 13.8334 12 13.8334C10.0118 13.8334 8.4 12.1918 8.4 10.1667Z' fill='%23DDD5D2'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }

                &.support {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2954_6243' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23FF5722'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2954_6243)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.68894 14.9333C5.15999 13.8861 4.88588 12.7288 4.88894 11.5556C4.88948 10.1527 5.2806 8.77766 6.01847 7.58451C6.75634 6.39135 7.81183 5.42719 9.06671 4.80002C10.1139 4.27107 11.2713 3.99697 12.4445 4.00003H12.8889C14.7417 4.10224 16.4916 4.88426 17.8037 6.19634C19.1158 7.50843 19.8978 9.25837 20 11.1111V11.5556C20.0031 12.7288 19.729 13.8861 19.2 14.9333C18.5729 16.1882 17.6087 17.2437 16.4155 17.9816C15.2224 18.7195 13.8474 19.1106 12.4445 19.1111C11.2713 19.1142 10.1139 18.8401 9.06671 18.3111L4.00005 20L5.68894 14.9333ZM8.96276 20.4539L4.63251 21.8974C3.91384 22.1369 3.12151 21.9499 2.58584 21.4142C2.05018 20.8785 1.86313 20.0862 2.10269 19.3675L3.54611 15.0373C3.11005 13.93 2.88611 12.7478 2.88894 11.5526L2.88895 11.5504L3.88895 11.553L4.88894 11.5556L2.88894 11.5548L2.88894 11.5526C2.89004 9.77912 3.38466 8.04094 4.31746 6.53257C5.24992 5.02477 6.58344 3.80612 8.16885 3.01289L8.16501 3.01483L9.06671 4.80002L8.1726 3.01101L8.16885 3.01289C9.4954 2.3436 10.9611 1.99659 12.4469 2.00003H12.4445V4.00003L12.4497 2.00003L12.4469 2.00003H12.8889C12.9257 2.00003 12.9624 2.00104 12.9991 2.00306C15.3434 2.1324 17.5577 3.12191 19.2179 4.78213C20.8781 6.44235 21.8677 8.65661 21.997 11.001C21.999 11.0376 22 11.0744 22 11.1111V11.5535L22 11.5504L20 11.5556H22V11.5535C22.0034 13.0392 21.6564 14.5048 20.9872 15.8312L20.989 15.8275L19.2 14.9333L20.9852 15.835L20.9872 15.8312C20.1939 17.4166 18.9753 18.7501 17.4675 19.6826C15.9591 20.6154 14.2209 21.11 12.4475 21.1111C11.2522 21.1139 10.07 20.89 8.96276 20.4539Z' fill='%23DDD5D2'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }

                &:hover,
                &.selected {
                    background-color: #fff;

                    &::before {
                        color: red;
                    }

                    &.dashboard {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2954_6295' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23FF5722'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2954_6295)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 7C16.4477 7 16 6.55228 16 6C16 5.44772 16.4477 5 17 5H23C23.5523 5 24 5.44772 24 6V12C24 12.5523 23.5523 13 23 13C22.4477 13 22 12.5523 22 12V8.41421L14.2071 16.2071C13.8166 16.5976 13.1834 16.5976 12.7929 16.2071L8.5 11.9142L1.70711 18.7071C1.31658 19.0976 0.683417 19.0976 0.292893 18.7071C-0.0976311 18.3166 -0.0976311 17.6834 0.292893 17.2929L7.79289 9.79289C8.18342 9.40237 8.81658 9.40237 9.20711 9.79289L13.5 14.0858L20.5858 7H17Z' fill='%23FF5722'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }

                    &.menu {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 3C1 2.44772 1.44772 2 2 2H8C9.32608 2 10.5979 2.52678 11.5355 3.46447C12.4732 4.40215 13 5.67392 13 7V21C13 21.5523 12.5523 22 12 22C11.4477 22 11 21.5523 11 21C11 20.4696 10.7893 19.9609 10.4142 19.5858C10.0391 19.2107 9.53043 19 9 19H2C1.44772 19 1 18.5523 1 18V3ZM11 17.5359V7C11 6.20435 10.6839 5.44129 10.1213 4.87868C9.55871 4.31607 8.79565 4 8 4H3V17H9C9.70823 17 10.3971 17.1878 11 17.5359Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.4645 3.46447C13.4021 2.52678 14.6739 2 16 2H22C22.5523 2 23 2.44772 23 3V18C23 18.5523 22.5523 19 22 19H15C14.4696 19 13.9609 19.2107 13.5858 19.5858C13.2107 19.9609 13 20.4696 13 21C13 21.5523 12.5523 22 12 22C11.4477 22 11 21.5523 11 21V7C11 5.67392 11.5268 4.40215 12.4645 3.46447ZM13 17.5359C13.6029 17.1878 14.2918 17 15 17H21V4H16C15.2044 4 14.4413 4.31607 13.8787 4.87868C13.3161 5.44129 13 6.20435 13 7V17.5359Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
                        }
                    }

                    &.offers {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_3022_6789' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23FF5722'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3022_6789)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 2C1 1.44772 1.44772 1 2 1H12C12.2652 1 12.5196 1.10536 12.7071 1.29289L21.2992 9.885C21.858 10.4471 22.1716 11.2074 22.1716 12C22.1716 12.7926 21.858 13.5529 21.2992 14.115L20.59 13.41L21.2971 14.1171L14.1275 21.2867C13.849 21.5655 13.5178 21.787 13.1538 21.9379C12.7896 22.0889 12.3992 22.1666 12.005 22.1666C11.6108 22.1666 11.2204 22.0889 10.8562 21.9379C10.4921 21.787 10.1613 21.5658 9.88271 21.2869L1.29331 12.7075C1.10552 12.5199 1 12.2654 1 12V2ZM19.8808 12.705L19.8817 12.7041C20.0674 12.5168 20.1716 12.2638 20.1716 12C20.1716 11.7362 20.0674 11.4832 19.8817 11.2959L19.8808 11.295L11.5858 3H3V11.5854L11.2967 19.8725L11.2975 19.8733C11.3904 19.9663 11.5007 20.04 11.6221 20.0903C11.7435 20.1407 11.8736 20.1666 12.005 20.1666C12.1364 20.1666 12.2665 20.1407 12.3879 20.0903C12.5093 20.04 12.6196 19.9663 12.7125 19.8733L19.8808 12.705Z' fill='%23FF5722'/%3E%3Cpath d='M9 7.5C9 8.32843 8.32843 9 7.5 9C6.67157 9 6 8.32843 6 7.5C6 6.67157 6.67157 6 7.5 6C8.32843 6 9 6.67157 9 7.5Z' fill='%23FF5722'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }

                    &.bookings {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2954_6261' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23FF5722'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2954_6261)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3ZM1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 5C12.5523 5 13 5.44772 13 6V11.382L16.4472 13.1056C16.9412 13.3526 17.1414 13.9532 16.8944 14.4472C16.6474 14.9412 16.0468 15.1414 15.5528 14.8944L11.5528 12.8944C11.214 12.725 11 12.3788 11 12V6C11 5.44772 11.4477 5 12 5Z' fill='%23FF5722'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }

                    &.locations {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1933_168' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23DDD5D2'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1933_168)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2.83335C10.0904 2.83335 8.25909 3.60597 6.90883 4.98125C5.55857 6.35652 4.8 8.2218 4.8 10.1667C4.8 13.0066 6.61416 15.7623 8.60336 17.9009C9.57955 18.9505 10.5588 19.8097 11.295 20.4068C11.569 20.629 11.8083 20.8141 12 20.9584C12.1917 20.8141 12.431 20.629 12.705 20.4068C13.4412 19.8097 14.4204 18.9505 15.3966 17.9009C17.3858 15.7623 19.2 13.0066 19.2 10.1667C19.2 8.2218 18.4414 6.35652 17.0912 4.98125C15.7409 3.60597 13.9096 2.83335 12 2.83335ZM12 22.0835C11.5008 22.8462 11.5005 22.8461 11.5003 22.8459L11.4977 22.8441L11.4917 22.84L11.4711 22.8258C11.4536 22.8137 11.4286 22.7963 11.3966 22.7737C11.3327 22.7286 11.2408 22.6629 11.125 22.5778C10.8935 22.4075 10.5657 22.1589 10.1737 21.8409C9.3912 21.2063 8.34545 20.2894 7.29664 19.1618C5.23584 16.9462 3 13.7435 3 10.1667C3 7.73557 3.94821 5.40397 5.63604 3.68487C7.32387 1.96578 9.61305 1 12 1C14.3869 1 16.6761 1.96578 18.364 3.68487C20.0518 5.40397 21 7.73557 21 10.1667C21 13.7435 18.7642 16.9462 16.7034 19.1618C15.6546 20.2894 14.6088 21.2063 13.8263 21.8409C13.4343 22.1589 13.1065 22.4075 12.875 22.5778C12.7592 22.6629 12.6673 22.7286 12.6034 22.7737C12.5714 22.7963 12.5464 22.8137 12.5289 22.8258L12.5083 22.84L12.5023 22.8441L12.5004 22.8454C12.5001 22.8456 12.4992 22.8462 12 22.0835ZM12 22.0835L12.4992 22.8462C12.1969 23.0515 11.8026 23.0512 11.5003 22.8459L12 22.0835ZM12 8.33339C11.0059 8.33339 10.2 9.15421 10.2 10.1667C10.2 11.1793 11.0059 12.0001 12 12.0001C12.9941 12.0001 13.8 11.1793 13.8 10.1667C13.8 9.15421 12.9941 8.33339 12 8.33339ZM8.4 10.1667C8.4 8.14168 10.0118 6.50004 12 6.50004C13.9882 6.50004 15.6 8.14168 15.6 10.1667C15.6 12.1918 13.9882 13.8334 12 13.8334C10.0118 13.8334 8.4 12.1918 8.4 10.1667Z' fill='%23FF5722'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }

                    &.support {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2954_6243' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23FF5722'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2954_6243)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.68894 14.9333C5.15999 13.8861 4.88588 12.7288 4.88894 11.5556C4.88948 10.1527 5.2806 8.77766 6.01847 7.58451C6.75634 6.39135 7.81183 5.42719 9.06671 4.80002C10.1139 4.27107 11.2713 3.99697 12.4445 4.00003H12.8889C14.7417 4.10224 16.4916 4.88426 17.8037 6.19634C19.1158 7.50843 19.8978 9.25837 20 11.1111V11.5556C20.0031 12.7288 19.729 13.8861 19.2 14.9333C18.5729 16.1882 17.6087 17.2437 16.4155 17.9816C15.2224 18.7195 13.8474 19.1106 12.4445 19.1111C11.2713 19.1142 10.1139 18.8401 9.06671 18.3111L4.00005 20L5.68894 14.9333ZM8.96276 20.4539L4.63251 21.8974C3.91384 22.1369 3.12151 21.9499 2.58584 21.4142C2.05018 20.8785 1.86313 20.0862 2.10269 19.3675L3.54611 15.0373C3.11005 13.93 2.88611 12.7478 2.88894 11.5526L2.88895 11.5504L3.88895 11.553L4.88894 11.5556L2.88894 11.5548L2.88894 11.5526C2.89004 9.77912 3.38466 8.04094 4.31746 6.53257C5.24992 5.02477 6.58344 3.80612 8.16885 3.01289L8.16501 3.01483L9.06671 4.80002L8.1726 3.01101L8.16885 3.01289C9.4954 2.3436 10.9611 1.99659 12.4469 2.00003H12.4445V4.00003L12.4497 2.00003L12.4469 2.00003H12.8889C12.9257 2.00003 12.9624 2.00104 12.9991 2.00306C15.3434 2.1324 17.5577 3.12191 19.2179 4.78213C20.8781 6.44235 21.8677 8.65661 21.997 11.001C21.999 11.0376 22 11.0744 22 11.1111V11.5535L22 11.5504L20 11.5556H22V11.5535C22.0034 13.0392 21.6564 14.5048 20.9872 15.8312L20.989 15.8275L19.2 14.9333L20.9852 15.835L20.9872 15.8312C20.1939 17.4166 18.9753 18.7501 17.4675 19.6826C15.9591 20.6154 14.2209 21.11 12.4475 21.1111C11.2522 21.1139 10.07 20.89 8.96276 20.4539Z' fill='%23FF5722'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }
        }

        &-log-out {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Roboto;
                font-weight: 400;
                font-size: 16px;
                color: $text-color;
                text-decoration: none;

                &::before {
                    content: "";
                    width: 24px;
                    height: 24px;
                    margin-right: 15px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2954_6234' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23FF5722'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2954_6234)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 4C19.2652 4 19.5196 4.10536 19.7071 4.29289C19.8946 4.48043 20 4.73478 20 5V19C20 19.2652 19.8946 19.5196 19.7071 19.7071C19.5196 19.8946 19.2652 20 19 20H15C14.4477 20 14 20.4477 14 21C14 21.5523 14.4477 22 15 22H19C19.7957 22 20.5587 21.6839 21.1213 21.1213C21.6839 20.5587 22 19.7957 22 19V5C22 4.20435 21.6839 3.44129 21.1213 2.87868C20.5587 2.31607 19.7956 2 19 2H15C14.4477 2 14 2.44772 14 3C14 3.55228 14.4477 4 15 4H19ZM8.70711 6.29289C8.31658 5.90237 7.68342 5.90237 7.29289 6.29289L2.29289 11.2929C1.90237 11.6834 1.90237 12.3166 2.29289 12.7071L7.29289 17.7071C7.68342 18.0976 8.31658 18.0976 8.70711 17.7071C9.09763 17.3166 9.09763 16.6834 8.70711 16.2929L5.41422 13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H5.41422L8.70711 7.70711C9.09763 7.31658 9.09763 6.68342 8.70711 6.29289Z' fill='%23DDD5D2'/%3E%3C/g%3E%3C/svg%3E%0A");
                }

                &:hover {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2954_6234' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23FF5722'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2954_6234)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 4C19.2652 4 19.5196 4.10536 19.7071 4.29289C19.8946 4.48043 20 4.73478 20 5V19C20 19.2652 19.8946 19.5196 19.7071 19.7071C19.5196 19.8946 19.2652 20 19 20H15C14.4477 20 14 20.4477 14 21C14 21.5523 14.4477 22 15 22H19C19.7957 22 20.5587 21.6839 21.1213 21.1213C21.6839 20.5587 22 19.7957 22 19V5C22 4.20435 21.6839 3.44129 21.1213 2.87868C20.5587 2.31607 19.7956 2 19 2H15C14.4477 2 14 2.44772 14 3C14 3.55228 14.4477 4 15 4H19ZM8.70711 6.29289C8.31658 5.90237 7.68342 5.90237 7.29289 6.29289L2.29289 11.2929C1.90237 11.6834 1.90237 12.3166 2.29289 12.7071L7.29289 17.7071C7.68342 18.0976 8.31658 18.0976 8.70711 17.7071C9.09763 17.3166 9.09763 16.6834 8.70711 16.2929L5.41422 13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H5.41422L8.70711 7.70711C9.09763 7.31658 9.09763 6.68342 8.70711 6.29289Z' fill='%23FF5722'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
    }

    &_right {
        padding: 63px 129px 0 129px;
        flex: 1;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-title {
                display: flex;
                justify-content: center;
                align-items: center;

                &-icon {
                    width: 85px;
                    height: 75px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url("data:image/svg+xml,%3Csvg width='78' height='78' viewBox='0 0 78 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_796_5626)'%3E%3Cpath d='M28.7025 10.8227L18.9488 69.5679L20.6742 69.8552C30.2178 71.4455 40.0906 70.5284 49.2237 67.2042C58.3573 63.8799 66.5098 58.2363 72.7985 50.8836L73.9354 49.5544L28.7025 10.8227ZM47.0592 31.1495L52.6405 35.9293C52.2521 36.364 51.7537 36.7105 51.1678 36.9237C49.2631 37.617 47.1491 36.6312 46.4559 34.7265C45.9979 33.4683 46.2726 32.1203 47.0592 31.1495V31.1495ZM32.7889 28.1503C33.4823 30.0554 32.4964 32.169 30.5925 32.8619C29.9206 33.1065 29.2218 33.1421 28.5694 33.001L29.772 25.7584C31.103 25.9209 32.2999 26.8069 32.7889 28.1503ZM27.9949 36.4564C29.2249 36.6932 30.531 36.6105 31.7901 36.1522C35.5092 34.7985 37.4328 30.6718 36.0791 26.9527C35.143 24.3808 32.8813 22.6679 30.345 22.3031L31.1399 17.5194L44.3998 28.8726C42.8198 30.7727 42.2619 33.4398 43.166 35.9239C44.5195 39.6426 48.6467 41.5675 52.3654 40.214C53.538 39.7872 54.5319 39.0849 55.3009 38.2064L60.0391 42.2651C55.7084 47.1062 50.2352 50.8145 44.0745 53.0568C37.9142 55.299 31.3379 55.9764 24.9084 55.0512L27.9949 36.4564ZM48.0262 63.914C40.0093 66.8319 31.3875 67.773 22.9802 66.6601L24.3335 58.5067L24.3336 58.5057C31.358 59.5291 38.5435 58.7961 45.2721 56.3471C52.001 53.8979 57.977 49.8405 62.6998 44.5416L62.7005 44.5423L68.9782 49.9182C63.2531 56.1748 56.0435 60.9959 48.0262 63.914V63.914Z' fill='%23B6A39E'/%3E%3Cpath d='M39.0732 52.5174C42.7924 51.1637 44.7155 47.0372 43.3619 43.3181C42.0084 39.5993 37.8825 37.674 34.1634 39.0276C30.4447 40.3811 28.5204 44.5086 29.8739 48.2273C31.2275 51.9464 35.3545 53.8709 39.0732 52.5174V52.5174ZM35.3609 42.3179C37.2648 41.625 39.3786 42.6103 40.072 44.5155C40.7653 46.4202 39.7796 48.5342 37.8757 49.2271C35.9709 49.9204 33.857 48.9346 33.1637 47.0299C32.4703 45.1247 33.4562 43.0112 35.3609 42.3179Z' fill='%23B6A39E'/%3E%3Cpath d='M46.3833 44.7637L49.6731 43.5663L50.8707 46.8565L47.5809 48.0539L46.3833 44.7637Z' fill='%23B6A39E'/%3E%3Cpath d='M36.8828 33.2976L40.1731 32.1L41.3706 35.3903L38.0804 36.5879L36.8828 33.2976Z' fill='%23B6A39E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_796_5626'%3E%3Crect width='60' height='60' fill='white' transform='translate(0.548828 21.0698) rotate(-20)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

                    &-black {
                        width: 85px;
                        height: 75px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-image: url("data:image/svg+xml,%3Csvg width='78' height='78' viewBox='0 0 78 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_817_832)'%3E%3Cpath d='M28.702 10.8227L18.9484 69.5679L20.6737 69.8552C30.2173 71.4455 40.0902 70.5284 49.2233 67.2042C58.3568 63.8799 66.5093 58.2363 72.798 50.8836L73.9349 49.5544L28.702 10.8227ZM47.0587 31.1495L52.64 35.9293C52.2516 36.364 51.7532 36.7105 51.1673 36.9237C49.2626 37.617 47.1486 36.6312 46.4554 34.7265C45.9974 33.4683 46.2721 32.1203 47.0587 31.1495V31.1495ZM32.7884 28.1503C33.4818 30.0554 32.4959 32.169 30.592 32.8619C29.9201 33.1065 29.2214 33.1421 28.5689 33.001L29.7715 25.7584C31.1025 25.9209 32.2994 26.8069 32.7884 28.1503ZM27.9944 36.4564C29.2244 36.6932 30.5305 36.6105 31.7896 36.1522C35.5087 34.7985 37.4323 30.6718 36.0787 26.9527C35.1426 24.3808 32.8809 22.6679 30.3445 22.3031L31.1394 17.5194L44.3993 28.8726C42.8193 30.7727 42.2614 33.4398 43.1655 35.9239C44.519 39.6426 48.6462 41.5675 52.3649 40.214C53.5375 39.7872 54.5314 39.0849 55.3004 38.2064L60.0386 42.2651C55.7079 47.1062 50.2347 50.8145 44.074 53.0568C37.9137 55.299 31.3374 55.9764 24.9079 55.0512L27.9944 36.4564ZM48.0257 63.914C40.0089 66.8319 31.387 67.773 22.9797 66.6601L24.333 58.5067L24.3332 58.5057C31.3575 59.5291 38.5431 58.7961 45.2716 56.3471C52.0005 53.8979 57.9765 49.8405 62.6993 44.5416L62.7 44.5423L68.9777 49.9182C63.2526 56.1748 56.043 60.9959 48.0257 63.914V63.914Z' fill='%23322D2C'/%3E%3Cpath d='M39.0723 52.5174C42.7914 51.1637 44.7146 47.0372 43.3609 43.3181C42.0074 39.5993 37.8815 37.674 34.1624 39.0276C30.4437 40.3811 28.5194 44.5086 29.8729 48.2273C31.2266 51.9464 35.3536 53.8709 39.0723 52.5174V52.5174ZM35.36 42.3179C37.2638 41.625 39.3776 42.6103 40.0711 44.5155C40.7643 46.4202 39.7786 48.5342 37.8747 49.2271C35.97 49.9204 33.856 48.9346 33.1627 47.0299C32.4693 45.1247 33.4552 43.0112 35.36 42.3179Z' fill='%23322D2C'/%3E%3Cpath d='M46.3828 44.7637L49.6727 43.5663L50.8702 46.8565L47.5804 48.0539L46.3828 44.7637Z' fill='%23322D2C'/%3E%3Cpath d='M36.8828 33.2976L40.1731 32.1L41.3706 35.3903L38.0804 36.5879L36.8828 33.2976Z' fill='%23322D2C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_817_832'%3E%3Crect width='60' height='60' fill='white' transform='translate(0.548828 21.0698) rotate(-20)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    }
                }

                &-text {
                    padding-left: 45px;
                    font-family: 'Barlow Condensed';
                    font-weight: 600;
                    font-size: 46px;
                    color: $title-color;
                }

            }

            &-steps {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;

                &-done {
                    font-family: 'Barlow';
                    font-weight: 600;
                    font-size: 16px;
                    color: $text-color;
                }

                &-circles {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 62px;
                    margin: 0;

                    li {
                        font-size: 22px;
                    }
                }

                .done-step-circle {
                    color: #44AF69;
                }

                .next-step-circle {
                    color: #DDD5D2;
                }

                .undone-step-circle {
                    color: #F8F6F6;
                }
            }
        }

        .steps {
            margin-top: 51px;

            &_wrapper {
                .steps-to-do {
                    padding: 24px;
                    margin-top: 12px;
                    background: #FFFFFF;
                    border: 2px solid #F8F6F6;
                    border-radius: 4px;

                    .to-do {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;

                        &-wrapper {
                            display: flex;
                        }

                        .about-restaurant-icon {
                            width: 24px;
                            height: 24px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.3861 1.21065C11.7472 0.929784 12.2528 0.929784 12.6139 1.21065L21.6139 8.21065C21.8575 8.4001 22 8.69141 22 9V20C22 20.7957 21.6839 21.5587 21.1213 22.1213C20.5587 22.6839 19.7957 23 19 23H5C4.20435 23 3.44129 22.6839 2.87868 22.1213C2.31607 21.5587 2 20.7957 2 20V9C2 8.69141 2.14247 8.4001 2.38606 8.21065L11.3861 1.21065ZM4 9.48908V20C4 20.2652 4.10536 20.5196 4.29289 20.7071C4.48043 20.8946 4.73478 21 5 21H19C19.2652 21 19.5196 20.8946 19.7071 20.7071C19.8946 20.5196 20 20.2652 20 20V9.48908L12 3.26686L4 9.48908Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 12C8 11.4477 8.44772 11 9 11H15C15.5523 11 16 11.4477 16 12V22C16 22.5523 15.5523 23 15 23C14.4477 23 14 22.5523 14 22V13H10V22C10 22.5523 9.55228 23 9 23C8.44772 23 8 22.5523 8 22V12Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
                        }

                        .on-menu-icon {
                            width: 24px;
                            height: 24px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 3C1 2.44772 1.44772 2 2 2H8C9.32608 2 10.5979 2.52678 11.5355 3.46447C12.4732 4.40215 13 5.67392 13 7V21C13 21.5523 12.5523 22 12 22C11.4477 22 11 21.5523 11 21C11 20.4696 10.7893 19.9609 10.4142 19.5858C10.0391 19.2107 9.53043 19 9 19H2C1.44772 19 1 18.5523 1 18V3ZM11 17.5359V7C11 6.20435 10.6839 5.44129 10.1213 4.87868C9.55871 4.31607 8.79565 4 8 4H3V17H9C9.70823 17 10.3971 17.1878 11 17.5359Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.4645 3.46447C13.4021 2.52678 14.6739 2 16 2H22C22.5523 2 23 2.44772 23 3V18C23 18.5523 22.5523 19 22 19H15C14.4696 19 13.9609 19.2107 13.5858 19.5858C13.2107 19.9609 13 20.4696 13 21C13 21.5523 12.5523 22 12 22C11.4477 22 11 21.5523 11 21V7C11 5.67392 11.5268 4.40215 12.4645 3.46447ZM13 17.5359C13.6029 17.1878 14.2918 17 15 17H21V4H16C15.2044 4 14.4413 4.31607 13.8787 4.87868C13.3161 5.44129 13 6.20435 13 7V17.5359Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
                        }

                        .my-account-icon {
                            width: 24px;
                            height: 24px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.46447 15.4645C2.40215 14.5268 3.67392 14 5 14H12C13.3261 14 14.5979 14.5268 15.5355 15.4645C16.4732 16.4021 17 17.6739 17 19V21C17 21.5523 16.5523 22 16 22C15.4477 22 15 21.5523 15 21V19C15 18.2043 14.6839 17.4413 14.1213 16.8787C13.5587 16.3161 12.7956 16 12 16H5C4.20435 16 3.44129 16.3161 2.87868 16.8787C2.31607 17.4413 2 18.2043 2 19V21C2 21.5523 1.55228 22 1 22C0.447715 22 0 21.5523 0 21V19C0 17.6739 0.526784 16.4021 1.46447 15.4645Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.5 4C6.84315 4 5.5 5.34315 5.5 7C5.5 8.65685 6.84315 10 8.5 10C10.1569 10 11.5 8.65685 11.5 7C11.5 5.34315 10.1569 4 8.5 4ZM3.5 7C3.5 4.23858 5.73858 2 8.5 2C11.2614 2 13.5 4.23858 13.5 7C13.5 9.76142 11.2614 12 8.5 12C5.73858 12 3.5 9.76142 3.5 7Z' fill='%23FF5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.7071 8.29289C24.0976 8.68342 24.0976 9.31658 23.7071 9.70711L19.7071 13.7071C19.3166 14.0976 18.6834 14.0976 18.2929 13.7071L16.2929 11.7071C15.9024 11.3166 15.9024 10.6834 16.2929 10.2929C16.6834 9.90237 17.3166 9.90237 17.7071 10.2929L19 11.5858L22.2929 8.29289C22.6834 7.90237 23.3166 7.90237 23.7071 8.29289Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
                        }

                        .creat-offer-icon {
                            width: 24px;
                            height: 24px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 2C1 1.44772 1.44772 1 2 1H12C12.2652 1 12.5196 1.10536 12.7071 1.29289L21.2992 9.885C21.858 10.4471 22.1716 11.2074 22.1716 12C22.1716 12.7926 21.858 13.5529 21.2992 14.115L20.59 13.41L21.2971 14.1171L14.1275 21.2867C14.1274 21.2868 14.1276 21.2866 14.1275 21.2867C13.849 21.5655 13.5178 21.787 13.1538 21.9379C12.7896 22.0889 12.3992 22.1666 12.005 22.1666C11.6108 22.1666 11.2204 22.0889 10.8562 21.9379C10.4921 21.787 10.1613 21.5658 9.88271 21.2869C9.88264 21.2869 9.88278 21.287 9.88271 21.2869L1.29331 12.7075C1.10552 12.5199 1 12.2654 1 12V2ZM19.8808 12.705C19.8811 12.7047 19.8814 12.7044 19.8817 12.7041C20.0674 12.5168 20.1716 12.2638 20.1716 12C20.1716 11.7362 20.0674 11.4832 19.8817 11.2959C19.8814 11.2956 19.8811 11.2953 19.8808 11.295L11.5858 3H3V11.5854L11.2967 19.8725L11.2975 19.8733C11.3904 19.9663 11.5007 20.04 11.6221 20.0903C11.7435 20.1407 11.8736 20.1666 12.005 20.1666C12.1364 20.1666 12.2665 20.1407 12.3879 20.0903C12.5093 20.04 12.6196 19.9663 12.7125 19.8733L19.8808 12.705Z' fill='%23FF5722'/%3E%3C/svg%3E%0A");
                        }

                        &-info {
                            padding-left: 24px;

                            &-title {
                                font-family: 'Barlow Condensed';
                                font-weight: 600;
                                font-size: 19px;
                                line-height: 23px;
                                color: $title-color;
                            }

                            &-descr {
                                margin-top: 12px;
                                font-family: 'Roboto';
                                font-weight: 400;
                                font-size: 16px;
                                color: $text-color;
                            }
                        }

                        .to-do-btn {
                            background: #FFFFFF;
                            border: 2px solid #DDD5D2;
                            border-radius: 4px;

                            font-family: 'Barlow';
                            font-weight: 600;
                            font-size: 16px;
                            text-align: center;
                            color: $main-color;
                            cursor: pointer;
                        }

                        .btn {
                            &-descr {
                                padding: 8px 16px;
                            }

                            &-create {
                                padding: 8px 28px;
                            }

                            &-add {
                                padding: 8px 33px;
                            }
                        }

                        .create-offer-btn {
                            padding: 8px 29px;
                            background: #FFFFFF;
                            border: 2px solid #DDD5D2;
                            border-radius: 4px;

                            font-family: 'Barlow';
                            font-weight: 600;
                            font-size: 16px;
                            color: #DDD5D2;
                        }

                        .create-offer {
                            padding: 8px 29px;
                        }
                    }
                }

                .done {
                    &-steps {
                        background: #F8F6F6;
                    }

                    &-icon {
                        width: 24px;
                        height: 24px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.7071 5.29289C21.0976 5.68342 21.0976 6.31658 20.7071 6.70711L9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L3.29289 12.7071C2.90237 12.3166 2.90237 11.6834 3.29289 11.2929C3.68342 10.9024 4.31658 10.9024 4.70711 11.2929L9 15.5858L19.2929 5.29289C19.6834 4.90237 20.3166 4.90237 20.7071 5.29289Z' fill='%2344AF69'/%3E%3C/svg%3E%0A");
                    }

                    &-info {
                        &-title {
                            font-family: 'Barlow Condensed';
                            font-weight: 600;
                            font-size: 19px;
                            line-height: 23px;
                            color: $text-color;
                        }

                        &-descr {
                            margin-top: 12px;
                            font-family: 'Roboto';
                            font-weight: 400;
                            font-size: 16px;
                            color: $text-color;
                        }
                    }
                }
            }
        }
    }
}